<!DOCTYPE html>
<html lang="de">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="super">
   <meta name="author" content="">

   {% load static %}

   <link rel="stylesheet" href="{% static 'semantic_ui/semantic.min.css' %}">
   <link rel="stylesheet" href="{% static 'custom/base.css' %}">

</head>
<body>

{% block content %}
   I am base.html
{% endblock content %}


<script src="{% static 'jquery-3.3.1/jquery.min.js' %}"></script>
<script src="{% static 'semantic-ui-2.2.9/semantic.min.js' %}"></script>


</body>
</html>




