{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h1>Hello from name.html</h1>

    <div id="logo">
        <a href="{% url 'name' %}">
            <img src="{% static 'images/django-logo-positive.png' %}" alt="DjangoLogo">
        </a>
    </div>

    <div class="sem_ui_test">Semantic UI - Test</div>
    <div class="sem_ui_test">
        <div class="ui labeled button" tabindex="0">

            <div class="ui button">
                <i class="heart icon"></i> Like
            </div>
            <a class="ui basic label">
                2,048
            </a>
        </div>
    </div>

    <div class="sem_ui_test">
        <br>
        <div>Database Query - Test:</div>
        <p><strong>{{ fullname }}</strong> stinkt!</p>
    </div>
{% endblock %}


